fabricloader.log
heracles_options.json
icon.png
.qmenu_opened.marker
logs
local
journeymap
figura/cache
screenshots
.mixin.out
blueprints
crash-reports
ct_dumps
data/fabricDefaultResourcePacks.dat
modernfix
mods/.index
saves
options.txt
patchouli_data.json
profile.txt
rhino.local.properties
usercache.json
usernamecache.json
config/forgeendertech
config/hwid
